/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 836px) {
  .mainMenuContainer{
   display: none;
  }
 
} 

.burgerMenuContainer{
  height:100%;
  display: flex;
  align-items: center;
}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width:600px){

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 835px) {
  .burgerMenuContainer{
    display: none;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .burgerMenuContainer{
    display: none;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .burgerMenuContainer{
    display: none;
   }
}




