.floating{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #FE0000;
  color: #fff;
  width:40px;
  height:40px;
  bottom: 25px;
  right: 110px;
  border-radius:50%;
  animation: pulse 1500ms infinite;
  position:fixed;
  z-index: 100;
  cursor: pointer;
}

